.login{
    margin: 15px auto;
    width: 70%;
    padding: 25px 0 50px;
    box-shadow: 3px 3px 5px 2px #1b0333;
    background: #F2E1C2;
    color: #091140; 
    
}
.login-tbl{
    margin: 0 auto;
    width: 300px;
    
}
.login-tbl-title{
    text-align: right;
    padding: 2px;
}
.login-tbl-input{
    text-align: left;
    padding: 2px;
}
.login-tbl-input input{
    width: 140px;
}
.login-tbl-submit{
    text-align: left;
    padding: 4px 35px;
}
.login-tbl-submit input{
    width: 110px;
     
}

.login-tbl-registration{
    text-align: center;
}


