@color-article: #F2E1C2;
.content{
    display: flex;
    justify-content: space-between;
}
.content-left{
    width: 60%;
    padding: 10px;
    border: 2px solid #000000;
    text-align: left;
    
}
.content-right{
    width: 40%;
    border: 3px solid #000000;
}
.article-title{
    
}
.article-title input{
    width: 100%;
}
.title-caption{
    
}
.article-title{
    width: 100%;
}
.text-caption{
    
}
.article-text{
    width: 100%;
    textarea{
        width: 100%;
        height: 80px;
    }
}
 
.article-submit{
    padding: 10px;
}
.table-articles{
    width: 90%;
    margin: 10px auto;
    text-align: left;
    a{
       color: @color-article; 
       
    }
}
.table-articles-td-title{
    width:250px;
}
.table-articles-td-delete{
    width:20px;
}
.table-articles-td-edit{
    width: 80px;
}
.table-articles-td-active{
    width:50px;
}

